.list-characters {
  list-style: none;
}

.character-item {
  display: flex;
  align-items: start;
  justify-content: space-between;
  height: 100px;
  margin-bottom: 1rem;
  padding: 0.5rem;
  background-color: var(--color-main);
}
.character-name {
  margin-top: 0.5rem;
}
.character-name a {
  color: var(--color-text);
  text-decoration: none;
}

.gi-character-form {
  margin-top: 0.5rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'nameInput nameInput'
    'saveBtn   resetBtn';
  row-gap: 0.5rem;
  column-gap: 0.25rem;
}
.name-input {
  grid-area: nameInput;
}
.btn-character-new {
  grid-area: saveBtn;
}
.btn-character-reset {
  grid-area: resetBtn;
}

.btn-char-edit,
.btn-char-remove {
  background-color: var(--color-sub);
}
.btn-char-edit:hover,
.btn-char-remove:hover {
  background-color: var(--color-sub-hl);
}
.character-controls > *:not(:last-child) {
  margin-right: 0.5rem;
}
