#root {
  display: flex;
  justify-content: center;
  align-items: stretch;
  min-height: 100vh;
  padding: 2rem 0;
}
.page {
  width: 1000px;
  background-color: color-mix(in srgb, var(--color-bg) 100%, black 30%);
  padding: 1rem;
}
.page-header {
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.form-group {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.form-group .text-label {
  width: 100px;
}
.form-group input[type='text'] {
  width: 300px;
  border: 1px solid var(--color-detail);
  border-radius: 0.5rem;
}
.form-group input[type='text']:focus {
  border: 1px solid var(--color-detail-hl);
}
