* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: 'Host Grotesk', system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-bg: #1a1a1d;
  --color-bg-hl: #2e073f;
  --color-main: #3b1c32;
  --color-main-hl: #7a1cac;
  --color-sub: #6a1e55;
  --color-sub-hl: #ad49e1;
  --color-detail: #a64d79;
  --color-detail-hl: #ebd3f8;
  --color-text: #f8f8f8;
}

body {
  min-height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-text);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  color: inherit;
  font: inherit;
  border: none;
  transition: all 0.12s ease-in;
}

input,
select {
  background-color: transparent;
  border: none;
  color: var(--color-text);
  font: inherit;
}
input:focus,
select:focus {
  outline: none;
}
select,
::picker(select) {
  appearance: base-select;
}
select {
  background-color: var(--color-detail);
  padding: 0.5rem 1rem;
}
select::picker-icon {
  transition: 0.4s rotate;
}
select:open::picker-icon {
  rotate: 180deg;
}
select:hover {
  cursor: pointer;
}
::picker(select) {
  border: none;
  background-color: transparent;
  margin-top: 0.25rem;
}
option {
  transition: all 0.1s ease-in-out;
  background: var(--color-detail);
  color: var(--color-text);
  padding: 0.5rem;
}
option:first-of-type {
  border-radius: 0.5rem 0.5rem 0 0;
}
option:last-of-type {
  border-radius: 0 0 0.5rem 0.5rem;
}
option::checkmark {
  display: none;
}
option:checked {
  font-weight: bold;
  background-color: var(--color-main);
}
option:hover {
  cursor: pointer;
  background: var(--color-sub);
}

@media (prefers-color-scheme: light) {
}
