* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: 'Host Grotesk', system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-bg: #1a1a1d;
  --color-bg-hl: #2e073f;
  --color-main: #3b1c32;
  --color-main-hl: #7a1cac;
  --color-sub: #6a1e55;
  --color-sub-hl: #ad49e1;
  --color-detail: #a64d79;
  --color-detail-hl: #ebd3f8;
  --color-text: #f8f8f8;
}

body {
  min-height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-text);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  color: inherit;
  font: inherit;
  border: none;
  transition: all 0.12s ease-in;
}

input {
  background-color: transparent;
  border: none;
  color: var(--color-text);
  font: inherit;
}
input:focus {
  outline: none;
}

@media (prefers-color-scheme: light) {
}
